<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseStationCount" value="30"/>

		<!-- Length is measured in meters, velocity in meters/second, time in seconds. -->
		
		<!-- distance -->
		<add key="highwayLength" value="60000"/>
		<add key="callPositionStart" value="1641"/>
		<add key="callPositionEnd" value="76542"/>
		<add key="callPositionPeak" value="22327"/>

		<!-- velocity -->
		<add key="speedMean" value="25.374"/>
		<add key="speedDeviation" value="5.4231"/>

		<!-- time -->
		<add key="interArrivalMean" value="1.9552"/>
		<add key="durationMean" value="207.61"/>
	</appSettings>
</configuration>